@import url("reset.css");

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat/Montserrat-Regular.woff2'), format(woff2);
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat/Montserrat-Bold.woff2'), format(woff2);
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'OpenSans';
   src: url('../fonts/OpenSans/OpenSans-Regular.woff2'), format(woff2);
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'OpenSans';
   src: url('../fonts/OpenSans/OpenSans-Bold.woff2'), format(woff2);
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Regular.woff2'), format(woff2);
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Bold.woff2'), format(woff2);
   font-weight: 700;
   font-display: swap;
}

/* global */
html {
	height: 100%;
   font-size: 10px;
}

body {
   background: #e8e8e8;
   height: 100%;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}
.font-opensens {
   font-family: 'OpenSans', sans-serif;
   font-weight: 400;
}

.font-roboto {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.wrapper {
   display: flex;
   flex-flow: column;
   min-height: 100%;
   padding-left: 7rem;
   transition: padding .4s linear;
}

main {
   flex: 1;
   padding-top: 6rem;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.bg-black {
   background: black;
}

.bg-pink {
   background: rgba(255, 206, 206, 1);
}

.bg-grey {
   background: grey;
}

/* ----------------------------------- */

/* right menu */

.settings {
   position: fixed;
   background: white;
   top: 50%;
   right: 0;
   transform: translate(100%, -50%);
   font-size: 2rem;
   padding: 40px 20px;
   line-height: 1.6;
   transition: transform .3s linear;
   border-radius: 4px 0 0 4px;
   box-shadow: 0 0 6px black;
}

.settings:hover {
   transform: translate(0%,-50%);
}

.settings ul {
   display: flex;
   flex-flow: column;
   gap: 10px;
}

.btn {
   line-height: 1;
   padding: 1rem 6rem;
   background: #e8e8e8;
   border: 1px solid #e8e8e8; 
   border-radius: 4px 0 0 4px;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.8rem;
   cursor: pointer;
   transition: all .3s linear;
   cursor: pointer;
}

.btn:hover {
   background: rgba(255, 206, 206, 1);
   box-shadow: 0 0 6px black;
}

.settings-icon {
   background: grey;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translate(-100%, -50%);
   padding: 6px;
   cursor: pointer;
   border-radius: 4px 0 0 4px;
   line-height: 1;
}

.settings-icon svg {
   height: 40px;
   width: 40px;
   fill: grey;
   stroke: rgba(255, 206, 206, 1);
   animation: settings-spin 3s linear infinite;
}

@keyframes settings-spin {
   100% {
      transform: rotate(360deg);
   }
}

.settings-icon svg:hover {
   animation-play-state: paused;
}

.settings:hover > .settings-icon svg {
   animation-play-state: paused;
}

.left-menu-main {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 7rem;
   padding-top: 6rem;
   background: white;
   z-index: 2;
   overflow: hidden;
   transition: width .4s linear;
   box-shadow: 0 0 6px black;
}

.left-menu-main:hover {
  width: 27rem;
}

.left-menu-main:hover + .wrapper {
   padding-left: 27rem;
}

.left-menu-main:hover +.wrapper>header {
   padding-left: 27rem;
}

.left-menu-main-link {
   height: 5rem;  
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   color: grey;
   font-size: 2rem;
   padding: 1rem 2rem;
   display: flex;
   align-items: center;
   gap: 2rem;
   white-space: nowrap;
}

.left-menu-main-link span {
   line-height: 10px;
   flex: 0 0 auto;
}

.left-menu-main-link:hover {
   color: red;
   background: rgba(255, 206, 206, 1);
}

.icon3-border {
   border: 2px solid grey;
   height: 32px;
   width: 32px;
   transform: rotate(45deg);
   transition: transform .3s linear;
   overflow: hidden;
   /* position: absolute;
   top: 50%;
   left: 1rem;
   margin-top: -1.6rem; */
}

.icon3 {
   height: 30px;
   width: 30px;
   fill: grey;
   transform: rotate(-45deg); 
   stroke: rgba(255, 206, 206, 1);
}

.left-menu-main li:hover a .icon3 {
   transform: scale(1.2) rotate(-45deg);
   fill: red;
}

.left-menu-main li:hover a .icon3-border {
   border: 2px solid red;
}

/* header */

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   padding-left: 7rem;
   transition: padding .4s linear;
}

.menu {
   display: flex;
   justify-content: space-between;
   gap: 3rem;
   flex-wrap: wrap;
   font-size: 2rem;
   text-transform: uppercase;
   
}


.icon {
   width: 30px;
   height: 30px;
   fill: white;
   position: absolute;
   top: 50%;
   left: 0;
   margin-top: -1.5rem;
}

.icon-down {
   width: 30px;
   height: 30px;
   fill: white;
   position: absolute;
   top: 50%;
   right: 0;
   margin-top: -1.5rem;
}

.menu li {
   position: relative;
   
}

.menu li a {
   position: relative;
   display: block;
   text-decoration: none;
   color: white;
   padding: 2rem 2rem 2rem 4rem;
   white-space: nowrap;
   
}

.menu li:last-child a {
   padding: 2rem 4rem 2rem 2rem;
}

.menu li a:hover {
   background: rgb(164, 164, 164);
   color: red;
   
}

.menu li a:hover .icon {
   fill: red;
}

.menu li a:hover .icon-down {
   fill: red;
}

.hidden-first {   
   /* display: none; */
   position: absolute;
   opacity: 0;
   top: -1000%;
   left:0;
   right: -1000%;
   transition: opacity 1s, top 1s ease, right 1s linear;
   z-index: -1;
}



.hidden-first li:last-child a {
   padding: 2rem 2rem 2rem 4rem;
}

.hidden-first li {
   background: grey;
}

.menu > li:hover .hidden-first {
   /* display: block; */
   opacity: 1;
   top: 100%;
   left:auto;
   right:0;
}

.hidden-second {   
   /* display: none; */
   position: absolute;
   width: 100%;
   top: 0;
   overflow: hidden;
   right: 0;
   transition: right 1s cubic-bezier(0,1.24,0,-1.28);
   z-index: -1;
}

.hidden-second li:first-child a {
   padding: 2rem;
}

.hidden-first > li:hover .hidden-second {
   /* display: block; */
   right: 100%;
}

/* main section logo */

.container-pad {
   padding: 4rem 0;
}

.main-title {
	background: #e8e8e8;
   font-size: 5rem;
   font-weight: 700;
   color: red;
   text-align: center;
   text-transform: uppercase;
   padding: 4rem 0;
}

.logo {
   width: 760px;
   position: relative;
}

.logo img {
   height: 100%;
   object-fit: cover;
}

/* Position */

.hidden-logo {
	display: none;
	position: absolute;
   top: 50%;
	left: 0;
	background: #e8e8e8d6;
	color: black;
   padding: 2rem;
   font-size: 2.4rem;
   text-align: center;
   line-height: 3.6rem;
   margin-top: -10rem;
}

.logo:hover .hidden-logo {
	display: flex; 
   justify-content: center;
   align-items: center;
}

/* GELLERY */

/* SECTION "ITEMS" */
.section-title {
   font-weight: 700;
   font-size: 4rem;
   color: red;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 4rem;
}

.container-items {
   display: flex;
   justify-content: flex-start;
   gap: 6rem;
   flex-wrap: wrap;
}

.item {
   position: relative;
   flex: 0 1 30%;
   padding: 2rem;
   text-align: center;
   font-size: 2rem;
   line-height: 2.5rem;
}

.item div {
   justify-content: center;
}

.image-item {
   height: 100%;
   width: 100%;
   object-fit: cover;
   padding-bottom: 2rem;
}

/* Position */

.hidden {
   display: none;
	position: absolute;
   overflow: hidden;
   width: 100%;
   height: 20rem;
   top: 50%;
	left: 0;
	background: rgba(255, 0, 0, 0.5);
	color: white;
   padding: 10px;
   margin-top: -10rem;
   font-size: 1.6rem;
}

.item:hover .hidden {
	display: flex; 
   justify-content: center;
   align-items: center;
}

/* -------------------------------------- */

/* Position FIXED */

.menu-left {
   background: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 50%;
	left: 0;
   margin-top: -15rem;
}

.menu-left li:hover {
   background: rgba(255, 0, 0, 0.4);
}

.menu-left li a {
   text-decoration: none;
   display: block;
   color: black;
   font-size: 2rem;
   padding: 2rem 3rem;
}

/* INLINE BLOCK */

.box {
   width: 1200px;
   margin: 2rem auto;
   font-size: 2rem;
}

/* inline-block */
.d-i-block {
   display: inline-block;
}

/* back-ground */
.bg-grey {
   background: grey;
}

.bg-green {
   background: green;
}

.bg-orange {
   background: orange;
}

/* outline */
.outline {
   outline: 2px solid red;
}

/* font-size */

.fz-0 {
   font-size: 0;
}

.fz-20 {
   font-size: 2rem;
}

/* width */
.w-400 {
   width: 40rem;
}

.w-800 {
   width: 80rem;
}

/* height */
.h-100 {
   height: 10rem;
}

.h-133 {
   height: 13.3rem;
}

.h-200 {
   height: 20rem;
}

.h-400 {
   height: 40rem;
}

/* FLOAT */

.child-float {
   float: left;
}

.clr {
   clear: both;
}

/* FLEX */

.box-flex {
   display: flex;
}

.box-flex-column {
   display: flex;
   flex-direction: column;
}

.box-flex-row {
   display: flex;
   flex-direction: row;
}

/* footer */

.footer {
   display: flex;
   flex-flow: row;
   padding: 2rem;
   justify-content: center;
   gap: 4rem;
}

.link1 {
   display: block;
}

.icon-footer {
   width: 30px;
   height: 30px;
   fill: white;
}

.link1:hover .icon-footer {
   fill: red;
}

.icon2-footer {
   width: 30px;
   height: 30px;
   fill: white;
   stroke: grey;
   transition: fill 1s linear 1s, stroke 1s linear, width 1s, hight 1s;
}

.link2 {
   display: inline-block;
}

.link2:hover .icon2-footer {
   fill: red;
   stroke: white;
   width: 40px;
   height: 40px;
}








